:root {
    --bg-color: white;
    --txt-color: black;
}


/* Since Navbar is Fixed and Z-Index is added Other Contents/Componenets will be hidden  */
/* Copied From BootStrap: https://v5.getbootstrap.com/docs/5.0/examples/sticky-footer/*/
/* Copied From BootStrap: https://v5.getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/ */
.main-body > div {
    padding-top: 80px; /* Header(NavBar) */
    padding-bottom: 85px; /* Footer */
}

.nav-item {
    padding-right: 6px;
}

.nav-item a {
    margin-left: 1rem;
    font-weight: 340;
    color: #000;
    text-transform: uppercase;
}


/* Make The Short Intro Look Better */
.short-info .card-header p {
    font-weight: 560;
    font-size: 2.4em;
}

.short-info .card-body h6 {
    font-weight: 400;
    font-size: 1.8em;
}


.socio-links a{
    padding: 4px;
}

/* IF in Large Screen Make Sure the Home Page Intro Takes the Full Screen and Content be On Center*/
@media (min-width: 764px)  { 
    .short-info {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 764px) { 
    /* Make The Short Intro Look Better */
    .short-info .card-header p {
        font-weight: 420;
        font-size: 1.8rem;
    }
    
    .short-info .card-body h6 {
        font-size: 1.2em;
    }

    .socio-links span{
        padding: 4px;
    }

}

.container-main-custom {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-header {
    display: flex;
    justify-content: space-between;
}

